<div id="log_in">

  <div id="greeting"><h2>WELCOME TO COMMUNITYCAPPER.COM</h2></div>

  <div id="selling_points">
    
    <div id="mission_statement" class="heading_text">OUR MISSION
      
      <div style="font-size: 22px;"><p>Bettors analyze the numbers.  We analyze the bettors.  Help us create the largest, most accurate, and most detailed database of sports bettors on the web that can will be searchable.</p></div>

    </div>

     <div id="our_plea" class= "heading_text">OUR PLEA

      <div><p>
        
        BOTTOM LINE IS WE NEED YOU.  Whether you are a bettor that messes around for a few bucks or if you like to send it in.  We need the public to simply making coming to communitycapper.com part of their sports betting routine.  If we do that.  ALL OF US WILL BENEFIT.  Imagine if you had the largest online databse of sports bettors each graded in 20 different ATS categories at your fingertips.  Would you consult it before you wagered one cent?

      </p></div>

     </div>

     <div id="info_cont">

       <div class="steps" style="color: white;"> WHAT YOU'LL DO:

        <ul>
        
          <div class="user_steps" style="color: white;"><li>PERFORM WHATEVER HANDICAPPING STRATEGIES YOU USE</li></div>
         <div class="user_steps" style="color: white;"> <li>GO TO COMMUNITYCAPPER.COM AND ENTER YOUR PICKS</li></div>

        </ul>

       </div>

       <div class="steps" style="color: white;"> WHAT WE DO:

        <ul>
          
          <div class="user_steps" style="color: white;"><li>TRACK RESULTS IN 20 DIFFERENT ATS SITUATIONS ON EACH BETTOR IN EACH SPORT</li></div>
         
          <div class="user_steps" style="color: white;"><li>RANK THE BETTORS IN EACH CATEGORY AND OVERALL FOR EACH SPORT AND INDEX ALL STATS IN A DATABASE</li></div>
         
          <div class="user_steps" style="color: white;"><li>CREATE AN EASY, STRAIGHTFORWARD WAY TO ACCESS THE INFO IN THE DATABSE</li></div>
          
          <div class="user_steps" style="color: white;"><li>ALLOW USERS TO FADE OR FOLLOW BETTORS IN CERTAIN CATEGORIES OR FOR A WHOLE SPORT OR IN A CERTAIN ATS SITUATION ONLY</li></div>
          
          <div class="user_steps" style="color: white;"><li>CREATE YOUR PERSONAL CONSENSUS MADE UP OF THE BETTORS OF YOUR CHOOSING.  EASILY COMPARE YOUR FADERS WITH YOUR FOLLOWERS.</li></div>


        </ul>
        


      </ul>

    </div>

  </div>

  <div class = "hide" >

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>

  </div>

</div>
