<div id="log_in">

  <div id="greeting"><h2>COMING SOON - COMMUNITYCAPPER.COM - COMING SOON</h2></div>

  <div id="selling_points">
    
    <div id="mission_statement" class="heading_text">OUR MISSION
      
      <div style="font-size: 22px;"><p>Bettors analyze the numbers.  We analyze the bettors.  Help us create the largest, most accurate, and most detailed database of ranked sports bettors on the web.</p></div>

    </div>

     <div id="our_plea" class= "heading_text">OUR PLEA

      <div><p>
        
        <p>BOTTOM LINE IS WE NEED YOU.  Whether you are a bettor that messes around for a few bucks or if you like to send it in.  Even if you mental bet only.  We need the public's opinion because we are going to do something GROUNDBREAKING with it and offer access to a database of information that was only in your dreams until now.</p>

        <p>Make entering picks at <span style="color: red;">COMMUNITYCAPPER.COM</span> part of your sports betting routine.  ALL OF US WILL BENEFIT.  Imagine if you had the largest online database of ranked sports bettors in 20 different ATS categories for each sport at your fingertips.  Would you consult it before you wagered one cent?</p>  

        <p>If you suck, that's great.  We need you.  If you have a sharp eye and don't make many picks.  Great.  We need you.  If you are a win-some lose-some bettor.  Great.  We need you because odds are across the 20 ATS situations you will be good at some and bad at others.  We need to create our own value and we can if we all pool together what we think.  The software will be designed to sort it all out and crunch all the analytics based on results of picks.</p>

        <p>This will be Information the books and the casinos do not have.  All those numbers and trends we look at, guess what?  They have all that and more in their computer model.  Would that stuff even be public knowledge if you can consistenly win with it? <span style="color: red;">HINT: THE SPORTS BOOKS LOVE TO ADVERTISE ON THE PAGES WE FIND THIS INFORMATION.</span></p>  

        <p>What they don't have is access to a database of ranked sports bettors offering opinions on the lines that they set, and they are banking on the fact that no one can unite the sports betting public together to do it.  What the public thinks about the spreads is very telling.  See what sharp bettors of the category think, see what the suckers think.  This is info THEY WON'T HAVE when they make the line, but WE'LL HAVE IT before we wager on it.</p> 

      </p></div>

     </div>

     <div id="info_cont">

       <div class="steps" style="color: white;"> WHAT YOU'LL DO:

        <ul>
        
          <div class="user_steps" style="color: white;"><li>PERFORM WHATEVER HANDICAPPING STRATEGIES YOU USE</li></div>
         <div class="user_steps" style="color: white;"> <li>GO TO COMMUNITYCAPPER.COM AND ENTER YOUR PICKS</li></div>

        </ul>

       </div>

       <div class="steps" style="color: white;"> WHAT WE DO:

        <ul>
          
          <div class="user_steps" style="color: white;"><li>TRACK RESULTS IN 20 DIFFERENT ATS SITUATIONS ON EACH BETTOR IN EACH SPORT</li></div>
         
          <div class="user_steps" style="color: white;"><li>RANK THE BETTORS IN EACH CATEGORY AND OVERALL FOR EACH SPORT AND INDEX ALL STATS IN A DATABASE</li></div>
         
          <div class="user_steps" style="color: white;"><li>CREATE AN EASY, STRAIGHTFORWARD WAY TO ACCESS THE INFO IN THE DATABSE</li></div>
          
          <div class="user_steps" style="color: white;"><li>ALLOW USERS TO FADE OR FOLLOW BETTORS IN CERTAIN CATEGORIES OR FOR A WHOLE SPORT OR IN A CERTAIN ATS SITUATION ONLY</li></div>
          
          <div class="user_steps" style="color: white;"><li>CREATE YOUR PERSONAL CONSENSUS MADE UP OF THE BETTORS OF YOUR CHOOSING.  EASILY COMPARE YOUR FADERS WITH YOUR FOLLOWERS.</li></div>


        </ul>
        


      </ul>

    </div>

  </div>

  <div class = "hide" >

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>

  </div>

</div>
