
<div id = "probes_cont">

	<div id="probe_banner">THIS PAGE IS DEDICATED TO REPORTING NEWS AND INFROMATION ABOUT <%= @matchup.fav + " VS. " + @matchup.dog %> THAT YOU SEE ON TV, READ IN NEWSPAPERS, OR COME ACROSS ON THE INTERNET.  THE COMMUNITY WILL COMPILE THE INFORMATION HERE SO WE CAN ALL BENEFIT.</div>


	<div class="probe_form"><div id="probe_text">Add Your Information Or Research Below.</div> 
		
		<%= form_for @probe do |p| %>

			<div><%= p.hidden_field :user_id, value: current_user.id %></div>
			<div><%= p.hidden_field :matchup_id, value: @matchup.id %></div>
			<div class="probe_input"><%= p.text_area :research %></div>
			<div class="probe_submit"><%= p.submit "SUBMIT RESEARCH" %></div>
			

		<% end %>

	</div>

	<div class="probe_list">
		
		<div class = "probe_info">
			
			<% @matchup.probes.each do |m| %>

				<% self.get_username(m.user_id) %>

					<div id="data_cont">

						<div class = "probe data" style="color: navy;">Contributor: <%= @username %></div>
						<div class = "probe data">Info: <%= m.research %></div>

					</div>



			<% end %>



		</div>



	</div>


</div>

<div style="margin-top: 5%;">

	<% if current_user.admin == true %>

		<%= form_for @matchup do |m| %>

			<div>Home_Score: <%= m.text_field :fav_score %></div>
			<div>Road_Score: <%= m.text_field :dog_score %></div>
			<div>Winner: <%= m.text_field :ats_winner %></div>
			<div>Total Result: <%= m.text_field :total_result %></div>
			
			<div><%= m.submit %></div>
				

		<% end %>


	<% end %>

</div>