<% self.selections_check %>
<%= @side_check %>

<div class = "hide">
	<%= form_for @selection do |s| %>
		
		<div><%= s.hidden_field :user_id, value: current_user.id %></div>
		<div><%= s.hidden_field :matchup_id, value: @matchup.id %></div>
		<div>TYPE: <%= s.text_field :cat %></div>
		<div>SPORT: <%= s.text_field :sport, value: @matchup.sport %></div>
		<div>PICK: <%= s.text_field :choice %></div>
		<div><%= s.submit  %></div>

	<% end %>

</div>

<script>

	let dogSpread = <%= @matchup.spread.to_f * -1 %>
	dogSpread = "+" + dogSpread.toString()
	
	let favChoice = "<%= @matchup.fav %>"
	let favLine = + "<%= @matchup.spread.to_s %>"
	let dogChoice = "<%= @matchup.dog %>"
	let dogLine = dogSpread.toString()

	let ovrSelec = "OVR "
	let overLine =  "<%= @matchup.total %>"
	let undSelec = "UND "
	let underLine = "<%= @matchup.total %>"


</script>

<div id="side_display">


	<div><div id="selec_head">CHOOSE THE SIDE</div>
		
		<div class="selec" id="fav_selec"></div>


		<div class="selec" id="dog_selec"></div>


	</div>

	<div>
		
		<input type="submit" value="SUBMIT PICK" id="sub_selec">


	</div>

</div>



<div id="total_display">
	
	<div><div id="selec_head">CHOOSE THE TOTAL</div>
		
		<div class="selec" id="ovr_selec"></div>


		<div class="selec" id="und_selec"></div>


	</div>

	<div>
		
		<input type="submit" value="SUBMIT PICK" id="tot_selec">


	</div>

</div>



<script>
	
	let teamSelec = document.getElementsByClassName("selec")
	fav_selec.innerHTML = favChoice + " " + favLine
	dog_selec.innerHTML = dogChoice + " " + dogLine
	ovr_selec.innerHTML = ovrSelec + " " + overLine
	und_selec.innerHTML = undSelec + " " + underLine
	let subSelec = document.getElementById("sub_selec")
	let totSelec = document.getElementById("tot_selec")
	let sideCheck = <%= @side_check %>
	let totalCheck = <%= @total_check %>
	


	for(let i=0; i<teamSelec.length; i++){

		teamSelec[i].addEventListener("click", function(){

			if (teamSelec[i].innerHTML == favChoice || teamSelec[i].innerHTML == dogChoice ){

				fav_selec.style.color = "red";
				dog_selec.style.color = "red";

				if (teamSelec[i].innerHTML == favChoice){

					fav_selec.style.color = "blue";
				}

				if (teamSelec[i].innerHTML == dogChoice){

					dog_selec.style.color = "blue";
				}

				selection_choice.value = teamSelec[i].innerHTML.replace(/[0-9]/g, '')
				selection_cat.value = "side"

				subSelec.addEventListener("click", function(){

					new_selection.submit()
				})

			}else{

				ovr_selec.style.color = "red";
				und_selec.style.color = "red";

				if (teamSelec[i].innerHTML == ovrSelec){

					ovr_selec.style.color = "blue";
				}

				if (teamSelec[i].innerHTML == undSelec){

					und_selec.style.color = "blue";
				}

				selection_choice.value = teamSelec[i].innerHTML
				selection_cat.value = "total"

				totSelec.addEventListener("click", function(){

					new_selection.submit()
				})


			}

		})

	}

	if (sideCheck == true){

		side_display.style.display = "none"
		
	}

	if (totalCheck == true){

		total_display.style.display = "none"
		
	}






</script>







