<%= form_for @selection do |s| %>
	
	<div><%= s.hidden_field :user_id, value: current_user.id %></div>
	<div><%= s.hidden_field :matchup_id, value: @matchup.id %></div>
	<div>TYPE: <%= s.text_field :cat %></div>
	<div>PICK: <%= s.text_field :choice %></div>
	<div><%= s.submit  %></div>

<% end %>

<script>

	let dogSpread = <%= @matchup.spread.to_f * -1 %>
	dogSpread = "+" + dogSpread.toString()
	
	let favChoice = "<%= @matchup.fav + ' ' + @matchup.spread %>"
	let dogChoice = "<%= @matchup.dog + ' ' %>" + dogSpread.toString()

	console.log(dogChoice)
	




</script>


<div>
	
	<div class="selec" id="fav_selec"></div>


	<div class="selec" id="dog_selec"></div>


</div>

<script>
	
	let teamSelec = document.getElementsByClassName("selec")
	fav_selec.innerHTML = favChoice
	dog_selec.innerHTML = dogChoice

	for(let i=0; i<teamSelec.length; i++){

		teamSelec[i].addEventListener("click", function(){

			selection_choice.value = teamSelec[i].innerHTML

		})

	}




</script>