<% self.get_time %>

<div class = "hide">
	
	<%= form_for @tag do |t| %>
		
		<div><%= t.text_field :user_id, value: current_user.id %></div>
		<div><%= t.text_field :tagged %></div>
		<div><%= t.text_field :sport %></div>
		<div><%= t.text_field :situation %></div>
		<div><%= t.text_field :date, value: @my_date %></div>
		<div><%= t.text_field :cat %></div>

	<% end %>

</div>
<script>
	
	let users = []
	
</script>


<% @users.each do |u| %>

	<script>

		var userObj = new Object()

		userObj.id = "<%= u.id %>"
		userObj.username = "<%= u.username %>"

		users.push(userObj)


	</script>

<% end %>

<script>

	var followButton;
	var fadeButton;
	
	for(i=0; i<users.length; i++){

		var info = document.createElement("div")

		followButton = document.createElement('input');
	    followButton.type = 'submit';
	    followButton.value = "FOLLOW";
	    followButton.name = users[i].id;
	    followButton.setAttribute("class", "fo_buttons");

	    fadeButton = document.createElement('input');
	    fadeButton.type = 'submit';
	    fadeButton.value = "FADE";
	    fadeButton.name = users[i].id
	    fadeButton.setAttribute("class", "fa_buttons");
	    
		

		info.innerHTML = users[i].username + " " + users[i].id

		info.appendChild(followButton)
		info.appendChild(fadeButton)
		

		document.body.appendChild(info)
	}

	var foButtons = document.getElementsByClassName("fo_buttons");
	var faButtons = document.getElementsByClassName("fa_buttons");

	for (let i=0; i<foButtons.length; i++){

		foButtons[i].addEventListener("click", function(){

			tag_tagged.value = foButtons[i].name
			tag_cat.value = "follow"
			tag_sport.value = "NFL"
			tag_situation.value = "home dog under 3"
			new_tag.submit()

		}, false)
	}


</script>
	




	





