<% self.get_time %>
<% @test1 %>
<% self.get_nfl_records %>

<% @test %>


<div id="heading">SEARCH THE COMMUNITY.  BUILD YOUR PERSONAL CONSENSUS.</div>

<div id="sec_heading">FOLLOW OR FADE BETTORS FROM THE COMMUNITY.</div>
<div id="tre_heading">GET THEIR PICKS SENT TO YOUR PERSONAL FEED.</div>
<div id="four_heading">READ THE RESULTS OF YOUR FADE CONSENSUS AND YOUR FOLLOW CONSENSUS.</div>
<div id="five_heading">BUILD A CONSENSUS WHERE YOU KNOW THE BETTORS OFFERING THE OPINIONS.</div>



<div class = "hid">
	
	<%= form_for @tag do |t| %>
		
		<div><%= t.text_field :user_id, value: current_user.id %></div>
		<div><%= t.text_field :tagged %></div>
		<div><%= t.text_field :sport %></div>
		<div><%= t.text_field :situation %></div>
		<div><%= t.text_field :date, value: @my_date %></div>
		<div><%= t.text_field :cat %></div>

	<% end %>

</div>



<div class="hide">
	

	<input type="text" name="" id="sport">
	<input type="text" name="" id="situation">
	



</div>

<div id="choices">
	
	<div id="sport_choices">
		
		<div id="sport_label">CHOOSE A SPORT: </div>

		<div id="sport_cont">
			
			<div class="the_sports" id="nfl_sport">NFL</div>
			<div class="the_sports" id="nba_sport">NBA</div>

		</div>



	</div>

	<div id="situation_label">CHOOSE A SITUATION:</div>

	<div id="search_situations">
		
		<div class="the_situations" id="all_sit">ALL</div>
		<div class="the_situations" id="home_sit">HOME</div>
		<div class="the_situations" id="road_sit">ROAD</div>
		<div class="the_situations" id="low_sit">LOW SPREADS</div>
		<div class="the_situations" id="mid_sit">MID SPREADS</div>
		<div class="the_situations" id="big_sit">BIG SPREADS</div>
		<div class="the_situations" id="hsf_sit">HOME SMALL FAV</div>
		<div class="the_situations" id="hmf_sit">HOME MID FAV</div>
		<div class="the_situations" id="hbf_sit">HOME BIG FAV</div>
		<div class="the_situations" id="hsd_sit">HOME SMALL DOG</div>
		<div class="the_situations" id="hmd_sit">HOME MID DOG</div>
		<div class="the_situations" id="hbd_sit">HOME BIG DOG</div>
		<div class="the_situations" id="rsf_sit">ROAD SMALL FAV</div>
		<div class="the_situations" id="rmf_sit">ROAD MID FAV</div>
		<div class="the_situations" id="rbf_sit">ROAD BIG FAV</div>
		<div class="the_situations" id="rsd_sit">ROAD SMALL DOG</div>
		<div class="the_situations" id="rmd_sit">ROAD MID DOG</div>
		<div class="the_situations" id="rbd_sit">ROAD BIG DOG</div>
		<div class="the_situations" id="alltot_sit">ALL TOTALS</div>
		<div class="the_situations" id="lowtot_sit">LOW TOTALS</div>
		<div class="the_situations" id="midtot_sit">MID TOTALS</div>
		<div class="the_situations" id="bigtot_sit">HIGH TOTALS</div>



	</div>

	<div id="search_btn"><input type="submit" value="SEARCH" id="tag_sub"></div>

	


</div>

<div id="user_list"></div>



<script>

	var followButton;
	var fadeButton;
	var stats;
	let check = []

	let theSports = document.getElementsByClassName("the_sports")
	let theSits = document.getElementsByClassName("the_situations")

	let searchSport = document.getElementById("sport")
	let searchSit = document.getElementById("situation")
	let searchSub = document.getElementById("tag_sub")
	
	let users = []
	let currentStats = []

	for (let i=0; i<theSports.length; i++){

		theSports[i].addEventListener("click", function(){

			tag_sport.value = theSports[i].innerHTML
			nfl_sport.style.color = "darkgreen"
			nba_sport.style.color = "darkgreen"
			
			theSports[i].style.color = "blue"


			

		}, false)
	}

	for (let i=0; i<theSits.length; i++){

		theSits[i].addEventListener("click", function(){

			tag_situation.value = theSits[i].innerHTML
			all_sit.style.color = "darkblue"
			home_sit.style.color = "darkblue"
			road_sit.style.color = "darkblue"
			low_sit.style.color = "darkblue"
			mid_sit.style.color = "darkblue"
			big_sit.style.color = "darkblue"
			hsf_sit.style.color = "darkblue"
			hmf_sit.style.color = "darkblue"
			hbf_sit.style.color = "darkblue"
			hsd_sit.style.color = "darkblue"
			hmd_sit.style.color = "darkblue"
			hbd_sit.style.color = "darkblue"
			rsf_sit.style.color = "darkblue"
			rmf_sit.style.color = "darkblue"
			rbf_sit.style.color = "darkblue"
			rsd_sit.style.color = "darkblue"
			rmd_sit.style.color = "darkblue"
			rbd_sit.style.color = "darkblue"
			alltot_sit.style.color = "darkblue"
			lowtot_sit.style.color = "darkblue"
			midtot_sit.style.color = "darkblue"
			bigtot_sit.style.color = "darkblue"
			
			
			theSits[i].style.color = "red"



			

		}, false)
	}

	searchSub.addEventListener("click", function(){

		currentStats = []

		if(tag_sport.value.length != 0 && tag_situation.value.length != 0){



			if (tag_sport.value == "NFL"){

				if (tag_situation.value == "ALL"){

					<% self.pull_stats(@all_nfl, "NFL", "ALL") %>

					<% @stat_holder.each do |s| %>

						stats = new Object()
						stats.user_id = "<%= s[:user_id] %>"
						stats.username = "<%= s[:username] %>"
						stats.stat = "<%= s[:stat] %>"
						stats.rec = "<%= s[:rec] %>"

						currentStats.push(stats)



					<% end %>

				}else if(tag_situation.value == "HOME"){

					<% self.pull_stats(@all_nfl, "NFL", "HOME") %>

					<% @test = @stat_holder %>

					<% @stat_holder.each do |s| %>

						stats = new Object()
						stats.user_id = "<%= s[:user_id] %>"
						stats.username = "<%= s[:username] %>"
						stats.stat = "<%= s[:stat] %>"
						stats.rec = "<%= s[:rec] %>"

						currentStats.push(stats)
						console.log(currentStats)		

					<% end %>

				}else if(tag_situation.value == "ROAD"){

					<% self.pull_stats(@all_nfl, "NFL", "ROAD") %>

					<% @stat_holder.each do |s| %>

						stats = new Object()
						stats.user_id = "<%= s[:user_id] %>"
						stats.username = "<%= s[:username] %>"
						stats.stat = "<%= s[:stat] %>"
						stats.rec = "<%= s[:rec] %>"

						currentStats.push(stats)

						

					<% end %>

				}else if(tag_situation.value == "LOW SPREADS"){

					<% self.pull_stats(@all_nfl, "NFL", "LOW SPREADS") %>

					<% @stat_holder.each do |s| %>

						stats = new Object()
						stats.user_id = "<%= s[:user_id] %>"
						stats.username = "<%= s[:username] %>"
						stats.stat = "<%= s[:stat] %>"
						stats.rec = "<%= s[:rec] %>"

						currentStats.push(stats)

						

					<% end %>
				
				}else if(tag_situation.value == "MID SPREADS"){

					<% self.pull_stats(@all_nfl, "NFL", "MID SPREADS") %>

					<% @stat_holder.each do |s| %>

						stats = new Object()
						stats.user_id = "<%= s[:user_id] %>"
						stats.username = "<%= s[:username] %>"
						stats.stat = "<%= s[:stat] %>"
						stats.rec = "<%= s[:rec] %>"

						currentStats.push(stats)

						

					<% end %>
				
				}else if(tag_situation.value == "BIG SPREADS"){

					<% self.pull_stats(@all_nfl, "NFL", "BIG SPREADS") %>

					<% @stat_holder.each do |s| %>

						stats = new Object()
						stats.user_id = "<%= s[:user_id] %>"
						stats.username = "<%= s[:username] %>"
						stats.stat = "<%= s[:stat] %>"
						stats.rec = "<%= s[:rec] %>"

						currentStats.push(stats)

						

					<% end %>
				
				}else if(tag_situation.value == "HOME SMALL FAV"){

					<% self.pull_stats(@all_nfl, "NFL", "HOME SMALL FAV") %>

					<% @stat_holder.each do |s| %>

						stats = new Object()
						stats.user_id = "<%= s[:user_id] %>"
						stats.username = "<%= s[:username] %>"
						stats.stat = "<%= s[:stat] %>"
						stats.rec = "<%= s[:rec] %>"

						currentStats.push(stats)

						

					<% end %>
				
				}else if(tag_situation.value == "HOME MID FAV"){

					<% self.pull_stats(@all_nfl, "NFL", "HOME MID FAV") %>

					<% @stat_holder.each do |s| %>

						stats = new Object()
						stats.user_id = "<%= s[:user_id] %>"
						stats.username = "<%= s[:username] %>"
						stats.stat = "<%= s[:stat] %>"
						stats.rec = "<%= s[:rec] %>"

						currentStats.push(stats)					

					<% end %>
				
				}else if(tag_situation.value == "HOME BIG FAV"){

					<% self.pull_stats(@all_nfl, "NFL", "HOME BIG FAV") %>

					<% @stat_holder.each do |s| %>

						stats = new Object()
						stats.user_id = "<%= s[:user_id] %>"
						stats.username = "<%= s[:username] %>"
						stats.stat = "<%= s[:stat] %>"
						stats.rec = "<%= s[:rec] %>"

						currentStats.push(stats)

						

					<% end %>
				
				}else if(tag_situation.value == "HOME BIG DOG"){

					<% self.pull_stats(@all_nfl, "NFL", "HOME BIG DOG") %>

					<% @stat_holder.each do |s| %>

						stats = new Object()
						stats.user_id = "<%= s[:user_id] %>"
						stats.username = "<%= s[:username] %>"
						stats.stat = "<%= s[:stat] %>"
						stats.rec = "<%= s[:rec] %>"

						currentStats.push(stats)

						

					<% end %>
				
				}else if(tag_situation.value == "HOME MID DOG"){

					<% self.pull_stats(@all_nfl, "NFL", "HOME MID DOG") %>

					<% @stat_holder.each do |s| %>

						stats = new Object()
						stats.user_id = "<%= s[:user_id] %>"
						stats.username = "<%= s[:username] %>"
						stats.stat = "<%= s[:stat] %>"
						stats.rec = "<%= s[:rec] %>"

						currentStats.push(stats)

						

					<% end %>
				
				}else if(tag_situation.value == "HOME SMALL DOG"){

					<% self.pull_stats(@all_nfl, "NFL", "HOME SMALL DOG") %>

					<% @stat_holder.each do |s| %>

						stats = new Object()
						stats.user_id = "<%= s[:user_id] %>"
						stats.username = "<%= s[:username] %>"
						stats.stat = "<%= s[:stat] %>"
						stats.rec = "<%= s[:rec] %>"

						currentStats.push(stats)

						

					<% end %>
				
				}else if(tag_situation.value == "ROAD SMALL FAV"){

					<% self.pull_stats(@all_nfl, "NFL", "ROAD SMALL FAV") %>

					<% @stat_holder.each do |s| %>

						stats = new Object()
						stats.user_id = "<%= s[:user_id] %>"
						stats.username = "<%= s[:username] %>"
						stats.stat = "<%= s[:stat] %>"
						stats.rec = "<%= s[:rec] %>"

						currentStats.push(stats)

						

					<% end %>
				
				}else if(tag_situation.value == "ROAD MID FAV"){

					<% self.pull_stats(@all_nfl, "NFL", "ROAD MID FAV") %>

					<% @stat_holder.each do |s| %>

						stats = new Object()
						stats.user_id = "<%= s[:user_id] %>"
						stats.username = "<%= s[:username] %>"
						stats.stat = "<%= s[:stat] %>"
						stats.rec = "<%= s[:rec] %>"

						currentStats.push(stats)

						

					<% end %>
				
				}else if(tag_situation.value == "ROAD BIG FAV"){

					<% self.pull_stats(@all_nfl, "NFL", "ROAD BIG FAV") %>

					<% @stat_holder.each do |s| %>

						stats = new Object()
						stats.user_id = "<%= s[:user_id] %>"
						stats.username = "<%= s[:username] %>"
						stats.stat = "<%= s[:stat] %>"
						stats.rec = "<%= s[:rec] %>"

						currentStats.push(stats)

						

					<% end %>
				
				}else if(tag_situation.value == "ROAD BIG DOG"){

					<% self.pull_stats(@all_nfl, "NFL", "ROAD BIG DOG") %>

					<% @stat_holder.each do |s| %>

						stats = new Object()
						stats.user_id = "<%= s[:user_id] %>"
						stats.username = "<%= s[:username] %>"
						stats.stat = "<%= s[:stat] %>"
						stats.rec = "<%= s[:rec] %>"

						currentStats.push(stats)

						

					<% end %>
				
				}else if(tag_situation.value == "ROAD MID DOG"){

					<% self.pull_stats(@all_nfl, "NFL", "ROAD MID DOG") %>

					<% @stat_holder.each do |s| %>

						stats = new Object()
						stats.user_id = "<%= s[:user_id] %>"
						stats.username = "<%= s[:username] %>"
						stats.stat = "<%= s[:stat] %>"
						stats.rec = "<%= s[:rec] %>"

						currentStats.push(stats)

						

					<% end %>
				
				}else if(tag_situation.value == "ROAD SMALL DOG"){

					<% self.pull_stats(@all_nfl, "NFL", "ROAD SMALL DOG") %>

					<% @stat_holder.each do |s| %>

						stats = new Object()
						stats.user_id = "<%= s[:user_id] %>"
						stats.username = "<%= s[:username] %>"
						stats.stat = "<%= s[:stat] %>"
						stats.rec = "<%= s[:rec] %>"

						currentStats.push(stats)

						

					<% end %>
				}else if(tag_situation.value == "ALL TOTALS"){

					<% self.pull_stats(@all_nfl, "NFL", "ALL TOTALS") %>

					<% @stat_holder.each do |s| %>

						stats = new Object()
						stats.user_id = "<%= s[:user_id] %>"
						stats.username = "<%= s[:username] %>"
						stats.stat = "<%= s[:stat] %>"
						stats.rec = "<%= s[:rec] %>"

						currentStats.push(stats)

						

					<% end %>
				
				}else if(tag_situation.value == "LOW TOTALS"){

					<% self.pull_stats(@all_nfl, "NFL", "LOW TOTALS") %>

					<% @stat_holder.each do |s| %>

						stats = new Object()
						stats.user_id = "<%= s[:user_id] %>"
						stats.username = "<%= s[:username] %>"
						stats.stat = "<%= s[:stat] %>"
						stats.rec = "<%= s[:rec] %>"

						currentStats.push(stats)

						

					<% end %>
				
				}else if(tag_situation.value == "MID TOTALS"){

					<% self.pull_stats(@all_nfl, "NFL", "MID TOTALS") %>

					<% @stat_holder.each do |s| %>

						stats = new Object()
						stats.user_id = "<%= s[:user_id] %>"
						stats.username = "<%= s[:username] %>"
						stats.stat = "<%= s[:stat] %>"
						stats.rec = "<%= s[:rec] %>"

						currentStats.push(stats)

						

					<% end %>
				
				}else if(tag_situation.value == "BIG TOTALS"){

					<% self.pull_stats(@all_nfl, "NFL", "BIG TOTALS") %>

					<% @stat_holder.each do |s| %>

						stats = new Object()
						stats.user_id = "<%= s[:user_id] %>"
						stats.username = "<%= s[:username] %>"
						stats.stat = "<%= s[:stat] %>"
						stats.rec = "<%= s[:rec] %>"

						currentStats.push(stats)

						

					<% end %>
				}

				console.log(currentStats)
			}

			while (user_list.firstChild) {
    			
    			user_list.removeChild(user_list.firstChild);
			}

		}

		let idCheck = []

		for(i=0; i<currentStats.length; i++){

			var info = document.createElement("div")

			followButton = document.createElement('input');
		    followButton.type = 'submit';
		    followButton.value = "FOLLOW";
		    followButton.name = currentStats[i].user_id;
		    if (check.indexOf(currentStats[i].user_id) === -1){

		    	check.push(currentStats[i].user_id)

		    }
		    
		    followButton.setAttribute("class", "fo_buttons");

		    fadeButton = document.createElement('input');
		    fadeButton.type = 'submit';
		    fadeButton.value = "FADE";
		    fadeButton.name = currentStats[i].user_id;
		    fadeButton.setAttribute("class", "fa_buttons");
		    
			

			info.innerHTML = currentStats[i].username

			info.appendChild(followButton)
			info.appendChild(fadeButton)
			
			if(idCheck.includes(currentStats[i].user_id) == false){

				user_list.appendChild(info)

			}

			idCheck.push(currentStats[i].user_id)

		}

		console.log(check)

		let foButtons = document.getElementsByClassName("fo_buttons");
		let faButtons = document.getElementsByClassName("fa_buttons");

		for (let i=0; i<foButtons.length; i++){

			foButtons[i].addEventListener("click", function(){

				tag_tagged.value = foButtons[i].name
				tag_cat.value = "follow"
				new_tag.submit()
				console.log(f0bButtons[i].name)

			}, false)
		}

		for (let i=0; i<faButtons.length; i++){

			faButtons[i].addEventListener("click", function(){

				tag_tagged.value = faButtons[i].name
				tag_cat.value = "fade"
				new_tag.submit()
				console.log(fabButtons[i].name)

			}, false)
		}


	})
	

	

	
</script>















	




	





